<h2>Edit post</h2>
<form action="/posts/<%=@post.id%>" method="post">
    <pre>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%=@post.title%>" size="35" required>
<!-- 
        <label for="date">Date</label>
        <input type="date" name="date" input="date" required> -->

        <label for="image">Attach picture (optional) </label>
        <input type="url" name="image" id="image" value="<%=@post.image%>" size="35">    

        <label for="entry">Entry</label>
        <textarea name="entry" id="entry" cols="30" rows="10" required><%=@post.entry%></textarea>
       
        <label for="topic">Topic</label>
        <input type="text" name="topic" id="topic" value="<%=@post.topic%>"required>

        <input type="submit" value="Update post">
    </pre>
</form>