<h2>Edit post</h2>
<form action="/posts/<%=@post.id%>" method="post">
    <pre>
        <label for="sender">From</label>
        <input type="text" name="sender" id="sender" value="<%=@post.sender%>"required>

        <label for="country">Country</label>
        <select name="country" id="country">
            <%Country.all.each do |country|%>
                <option value="<%=country[0]%>"><%=country[0]%></option>
            <%end%>
        </select>


        <label for="recipient">To</label>
        <input type="text" name="recipient" id="recipient" value="<%=@post.recipient%>" required>

        <label for="image">Attach postcard picture</label>
        <input type="url" name="image" id="image" placeholder="Enter URL here" size="35" value ="<%=@post.image%>" required>            

        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" placeholder="Wish you were here" size="35" value="<%=@post.subject%>" required>

        <label for="message">Message</label>
        <textarea name="message" id="message" cols="50" rows="5" placeholder="Dear mom..." required><%=@post.message%></textarea>

        <input type="submit" value="Update postcard">
    </pre>
</form>