<h2><%=@post.subject%></h2>
<pre>
    <%=@time%>
    <% if @updatetime != "false" %>
    <%=@updatetime%>
    <%end%>
</pre>

<div class="entirecard">
<div class="postcardtext">
    <img class="postcardimage" src="<%=@post.image%>">
</div>  

<div class="postcardtext">
    <p class="bold">From: <%=@post.sender%></p>
    <p class="bold">To: <%=@post.recipient%></p>
    <p class="bold">Sent from: <%= @post.country %></p>
    <P><%= @post.message %></P>
</div>
</div>

<div class="controls">
    <a class="tab" href="/posts/<%=@post.id%>/edit">Edit postcard</a>
    <a class="tab" href="/posts/<%=@post.id%>/delete">Throw out postcard</a>
</div>